In [1]:
print ("hello world");

hello world

In [20]:
a = 20;
b = -2;
c = a + b;
print ("c");

c

In [22]:
a = 20;
b = -2;
c = a + b;
print (c);

18

In [5]:
x = "sameer ";
y = "ahmed";
z = x + y;
print (z);

sameer ahmed

In [8]:
s = "5";
y = "2";
q = s + y;
print (q);

52

In [10]:
x = 7;
y = 10 + x;
z = x + y - 5;
print (z);

19

In [12]:
a = 2 - 4 / 2 + 4 * 8;
print (a);

32.0

In [13]:
a = ((2 - 4) / (2 + 4) * 8);
print (a);

-2.6666666666666665

In [1]:
x = 8;
y = x%3;
print (y);

2

In [2]:
s = 12;
s = 7;
print (s);

7

In [3]:
 y = 9;
y = y + 1;
print (y);

10

In [4]:
a = 2;
a+= 7;
print (a);

9

In [5]:
a = 3;
a = a+ 3;
print(a);

6

In [6]:
y = 8;
y-= 2;
print (y);

6

In [7]:
y = 9;
y*= 3;
print(y);

27

In [8]:
y = 10;
y%= 3;
print(y);

1

In [10]:
a = "Sameer Ahmed"
print ("my name is " + a);

my name is Sameer Ahmed

In [11]:
gender = "male";
if gender == "male":
    print ("Allow for Ride");

Allow for Ride

In [12]:
gender = "female";
if gender == "male":
    print ("Allow for Ride");
else:
    print ("you are not eligible");

you are not eligible

In [13]:
gender = "female";
if gender != "male":
    print ("Allow for Ride");
else:
    print ("you are not eligible");

Allow for Ride

In [14]:
age = 16;
gender = "female";
if age > 18 or gender == "male":
    print ("allow");
else:
    print("not eligible");

not eligible

In [15]:
age = 16;
gender = "female";
if age < 18 or gender != "male":
    print ("allow");
else:
    print("not eligible");

allow

In [16]:
age = 16;
gender = "female";
if age < 18 or gender == "male":
    print ("allow");
else:
    print("not eligible");

allow

In [17]:
age = 16;
gender = "female";
if age > 18 or gender != "male":
    print ("allow");
else:
    print("not eligible");

allow

In [18]:
age = 16;
gender = "female";
if age < 18 and gender == "male":
    print ("allow");
else:
    print("not eligible");

not eligible

In [26]:
English = 73;
Islamiat = 81;
Math = 77;
print (English + Islamiat + Math);

231

In [35]:
Your_Marks = 231;
Total_Marks = 300;
percentage = Your_Marks/Total_Marks * 100;
print (percentage);

77.0

In [1]:
percentage = 77;
if percentage < 100 and percentage > 80:
    print ("Grade A+");
elif percentage < 80 and percentage > 70:
    print ("Grade A");
elif percentage < 70 and percentage > 60:
    print ("Grade B");
elif percentage < 60 and percentage > 50:
    print ("Grade C");
elif percentage < 50 and percentage > 40:
    print ("Grade D");
elif percentage < 40 and percentage > 33:
    print ("Grade E");
elif percentage < 0 and percentage > 100:
    print ("You Didn't enter the correct percentage");
else:
    print ("Fail");

Grade A

In [2]:
x = input("Select any num");
z = 28;
y = x + z;
print (y);

Select any num22

TypeError: can only concatenate str (not "int") to str

In [3]:
x = int(input("Select any num"));
z = 28;
y = x + z;
print (y);

Select any num22
50

In [4]:
x = input("Select any num");
z = 28;
y = int(x) + z;
print (y);

Select any num32
60

In [5]:
x = 3**3;
print (x);

27

In [6]:
print ("Hello\nWorld");

Hello
World

In [7]:
x = 99;
y = 2;
a = 20;
b = -222;
if x*y == a+b:
    print ("true");
else:
    print("False");

False

In [8]:
age =int(input("Your Age"));
gender = input ("Your gender");
if age > 18 and gender == "male":
    print ("Allow");
else:
    print("DOnT Allow");

Your Age18
Your gendermale
DOnT Allow

In [9]:
age =int(input("Your Age"));
gender = input ("Your gender");
if age >= 18 and gender == "male":
    print ("Allow");
else:
    print("DOnT Allow");

Your Age18
Your gendermale
Allow

In [1]:
# learn to code
ant = [1.2];
print (ant)

[1.2]

In [2]:
# learn to code
ant = (1.2);
print (ant)

1.2

In [4]:
"""We are learning python
to make portfolio"""
print ("hello\nWorld");

hello
World

In [5]:
English = 73;
Islamiat = 81;
Math = 77;
print (English, + Islamiat, + Math,);

73 81 77

In [14]:
English = "ant";
Islamiat = "CAT";
Math = "DOG";
print (English+","+Islamiat+","+Math);

ant,CAT,DOG

In [16]:
# List
name = ["Sameer","Fari","AHMED","KHAN","SHan"];
print (name)

['Sameer', 'Fari', 'AHMED', 'KHAN', 'SHan']

In [17]:
print (name[3]);

KHAN

In [19]:
name[1] ="friyal";
print(name);

['Sameer', 'friyal', 'AHMED', 'KHAN', 'SHan']

In [23]:
name.append("Shahruk");
print(name);

['Sameer', 'friyal', 'AHMED', 'KHAN', 'SHan', 'Shahruk']

In [24]:
name.append("murtaza");
print(name);

['Sameer', 'friyal', 'AHMED', 'KHAN', 'SHan', 'Shahruk', 'murtaza']

In [1]:
x=("Hello World");
print(x);

Hello World

In [2]:
x=input("Enter word");
print(x);

Enter wordHello World
Hello World

In [3]:
x=input("Enter word");
print(x);

Enter wordHello World
Hello World

In [4]:
h = (Hello World)
print = (h);

SyntaxError: invalid syntax (<ipython-input-4-d7f9b2db264e>, line 1)